php_value upload_max_filesize 1000M
php_value post_max_size 1000M
php_value max_execution_time 3000
php_value max_input_time 3000
RewriteEngine On
RewriteRule ^assets/(.*)$ assets/$1 [NC,L]
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
